@import "../../styles/_global.scss";
@import "../../styles/_variables.scss";

.Box {
  margin: 2rem 1rem;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  background: $colorWhite;
  max-width: 1024px;
  min-width: 320px;
  width: 90%;
  min-height: 20rem;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5),
    0 0 60px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5), 0 0 60px 0 rgba(0, 0, 0, 0.5);

  @media  screen and (min-width: 40px) {
    height: auto;
    margin: 1rem;
  }
  @media screen and (min-width: 800px) {
    height: auto;
  }
}

h1 {
  // color: $colorPrimaryDark;
  // font-weight: 300;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem 0;
  .heroIcon{
    flex-basis: 10%;
    margin-right: .5rem;
    // svg path{
    //   color: $colorPrimaryLight;
    // }
  }
}
h5{
  color: $colorUi;
  margin: 0 0 1rem 0;
  padding:0;
  font-weight: normal;
}

label {
  font-size: 0.75rem;
  color: $colorText;
  opacity: 0.8;
  // text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
input[type="text"],
[type="email"],
[type="password"],
[type="tel"] {
  margin: 0.5rem 0;
  font-size: 1rem;
  padding: 0.5rem 0.25rem;
  width: 100%;
  background: $colorUiLightest;
  border: 1px solid $colorUi;
  outline: none;
  border-radius: 2px;
  -webkit-appearance: none;
  &:focus {
    border: 1px solid $colorPrimaryLight;
  }
  &.hasError{
    border: 1px solid $colorDanger;
  }
}
.validationError{
  color: $colorDanger;
  padding: 0 0 1rem 0;
  font-size: .75rem;
}
.required{
  color: $colorPrimaryLight;
  // float: right;
  margin-left: .25rem;
}