@import "../../styles/global.scss";
.Row {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  width: 100%;
  >div{
    flex-basis: 10%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  &.hasPadding {
    padding: 0.5rem 0;
  }
}
