@import "../../styles/_global.scss";

.Column {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  flex-direction: column;
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 1;
  > .Row,
  > form {
    width: 100%;
  }
  &.hasPadding {
    padding: 0 0.5rem;
  }
  &.hasDivider {
    border-left: 1px solid $colorUiLight;
    @include media('<=tablet') { 
      border-left: 0px solid $colorUiLight;
    }
  }
}
