
$colorBackground: #eee;

$colorBlack: hsl(0, 0%, 0%);
$colorWhite: hsl(0, 0%, 100%);
$colorText: #333;
$colorPrimaryLight: hsl(288, 67%, 24%);
$colorPrimary: hsl(288, 67%, 12%);
$colorPrimaryDark: hsl(288, 67%, 5%);
$colorUi: #aaa;
$colorUiLightest: #f9f9f9;

$colorDanger: red;
$colorSuccess: lime;