@import "../../styles/_global.scss";
@import "../../styles/_variables.scss";


/**
NOTE: hacks ahead
THis overrrides the react grid component styling, because there doesn't 
seem to be an obvious way to to that. If things breat, comment this out. 
It'll look ugly, but might work better.
*/

.gridWrap{
  background: red;
  width: 100%;
  display: block;
  // margin-left: -1rem;
  // margin-right: -1rem;
  > div{ // .react-grid-Container
    font-size: .75rem;
    border: 0px solid transparent !important;
    >div:first-child{ //. toolbar
      border: 0px solid transparent !important;
      padding-right:  0;
    }
    >div:nth-child(2){ // MAIN
      outline: none !important;
      >div:nth-child(1){ // .react-grid-Grid
        input{
          // border: 1px solid red;
          font-size: .75rem;
          margin: 0;
          padding: .25rem;
          background: #fff;
          border-radius: .25rem;
        }
      }
    }
  }
}

@media screen and (max-width: 756px) {
  .gridWrap{
    margin-left: -1rem;
    margin-right: -1rem;
    width: calc(100% + 2rem); // accounts for negative margins
    > div{ // .react-grid-Container
      >div:first-child{ //. toolbar
        padding-right:  .5rem;;
      }
      >div:nth-child(2){ // MAIN
        outline: none !important;
        >div:nth-child(1){ // .react-grid-Grid
          border-left: 0px solid transparent;
          border-right: 0px solid transparent;
        }
      }
    }
  }  
}
