@import "../../styles/_variables.scss";

.Box {
  margin: 2rem 1rem;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  background: $colorWhite;
  max-width: 1024px;
  min-width: 320px;
  width: 90%;
  min-height: 20rem;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5),
    0 0 60px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5), 0 0 60px 0 rgba(0, 0, 0, 0.5);

  @media screen and (min-width: 40px) {
    height: auto;
    margin: 1rem;
  }
  @media screen and (min-width: 800px) {
    height: auto;
  }
}
